
/* body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
  } */


.about-us{
    background-color: white;
    text-align: center;
    height: 300px;
    margin-top: 30px;
    padding-top: 60px;
    margin: auto  85px;
}
.about-us h2 a{
    color: #244F7E;
    text-decoration: none;
    font-size: 39px;
    font-family: "Cairo", Sans-serif;
    font-weight: 900;

}
.about-us p {
    line-height: 75px;

    font-family: Denk One;
    font-size: 60px;
    color: #34384c;
    font-weight: 400;
    margin-top: 30px;
}
.description p {
    background-color: #fcf7eb;
    text-align: center;
    height: 335px;
    padding: 85px;
    margin-top: 30px;
    font-size: 40px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #344f7c;
    font-family: "Arial", Sans-serif;
    line-height: 55px;
  }


.goal{
  line-height: 35px;
  margin-bottom: 120px;
  display: grid;
  justify-content: space-around;
  color: #34384c;
  font-size: 16px;
  font-weight: bolder;
  max-width: 100%;
  margin-top: 100px;
  font-family: Niramit;
   
}
/* .goal p li {

   
} */

  /* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}




.main{
  max-width: 100%;
  margin: 0 auto;
  background-color:#fcf7eb;
display: flex;
flex-direction: column;
}

.main h2 {
    font-size: 39px;
    padding-top: 17px;
    text-align: center;
    color:#244F7E;
    font-family: "Cairo", Sans-serif;
    font-weight: 900;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;    
}

.btnq {
  color: white;
  background-color: #344f7c;
  padding: 0.8rem;
  font-size: 15px;
  /* text-transform: uppercase; */
  border-radius: 4px;
  /* font-weight: 400; */
  display: block;
  width: 15%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0px 18px 10px 0px;
  height: 52px;
  min-width: 150px;
  align-self: flex-end;
  text-decoration: none;
  text-align: center;
}

.btnq:hover {
  background-color: #6EC1E4;;
}

.cardss {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cardss img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}
.cards_item {
  padding: 1rem;
  overflow: hidden;

}


@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.carda {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
}
.card-title-link{
  text-decoration: none;
  color: #34384c;
  /* font-weight: 400;
    line-height: 75px;
    font-family: Niramit;
    font-size: 20px; */
}
.card-title-link:focus{
  color: #344f7c;
}
.card_title {
  color: #344f7c;
  /* font-size: 1.1rem; */
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  line-height: 45px;
  font-family: "Cairo", Sans-serif;


}

.card_text  {
  color: #34384C;
  /* font-size: 0.875rem; */
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  text-overflow: ellipsis;
  font-family: Niramit;

}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}


@media only screen and (max-width: 987px) {
    /* For mobile phones: */
    .about-us  a{
        color: #244F7E;
        text-decoration: none;
        font-size: 18px;
    }
    .about-us h2 {
  
        font-size: 25px;
    }
    .about-us p {
        line-height: 42px;
        color: #34384C;
        font-size: 25px;    
    }
    .description p {
        font-size: 25px;
        padding: 35px;
      }
      .goal{
      padding: 35px;
     }
  }

